<span class="title">Bonjour à vous !</span>
<div>
  <span class="welcome">Bienvenue sur ce super jeu de bataille Navale</span>
</div>
<img src="assets/Bateau_Profil.png" height="100">

<span class="title">Nouvelle Partie !</span>
<button type="button" class="btn btn-success" (click)="openModal()">ICI !</button>

<!-- Conteneur de la modale -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isModalOpen}" style="display: block;" *ngIf="isModalOpen">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Entrez votre pseudo</h5>
        <button type="button" class="close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" [(ngModel)]="pseudo" placeholder="Pseudo" class="form-control">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="startGame()">Valider</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Annuler</button>
      </div>
    </div>
  </div>
</div>

<!-- Les pseudos ne sont affichés que si showNames est vrai -->
<div *ngIf="showNames">
  <div class="player-name">{{ joueur.pseudo }}</div>
  <div class="ordi-name">{{ "Adversaire" }}</div>
</div>

<!-- Grilles de jeu -->
<div class="boards-container">
  <!-- Première grille (joueur) -->
  <div class="battleship-board">
    <div class="row" *ngFor="let row of [].constructor(10); let i = index">
      <button class="cell" *ngFor="let cell of [].constructor(10); let j = index" (click)="handleClick(i, j)"></button>
    </div>
  </div>

  <!-- Deuxième grille (adversaire) -->
  <div class="battleship-board">
    <div class="row" *ngFor="let row of [].constructor(10); let i = index">
      <button class="cell" *ngFor="let cell of [].constructor(10); let j = index" (click)="handleClick(i, j)"></button>
    </div>
  </div>
</div>
