<span class="title">Bonjour à vous !</span>
<div>
  <span class="welcome">Bienvenue sur ce super jeu de bataille Navale</span>
</div>
<img src="assets/Bateau_Profil.png" height="100">

<span class="title">Nouvelle Partie !</span>
<button type="button" class="btn btn-success" (click)="openModal()">ICI !</button>

<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isModalOpen}" style="display: block;" *ngIf="isModalOpen">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sélectionnez ou créez un joueur</h5>
        <button type="button" class="close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Dropdown for existing players -->
        <label for="existing-joueur">Joueurs existants :</label>
        <select class="form-control" id="existing-joueur" [(ngModel)]="selectedJoueurId">
          <option [ngValue]="null">-- Sélectionner un joueur --</option>
          <option *ngFor="let joueur of joueurs" [ngValue]="joueur.id">
            {{ joueur.pseudo }}
          </option>
        </select>

        <hr />

        <!-- Input for a new player -->
        <label for="new-joueur">Ou créez un nouveau joueur :</label>
        <input type="text" [(ngModel)]="pseudo" id="new-joueur" placeholder="Pseudo" class="form-control">

        <hr />

      </div>

      <div class="modal-footer">
        <!-- Disable button if conditions are not met -->
        <button
          type="button"
          class="btn btn-primary"
          (click)="startGame()"
        >
          Valider
        </button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Annuler</button>
      </div>
    </div>
  </div>
</div>


<!-- Display player names -->
<div *ngIf="showNames">
  <div class="player-name">{{ joueur.pseudo }}</div>
  <div class="ordi-name">{{ "Adversaire" }}</div>
</div>

<!-- Game boards -->
<div class="boards-container" *ngIf="carte && carteAdversaire">

  <!-- Player board -->
  <div class="battleship-board">
    <div class="row" *ngFor="let row of carte.grille; let i = index">
      <button class="cell" *ngFor="let cell of carte.grille; let j = index" >
      </button>
    </div>
  </div>


  <!-- Opponent board -->
  <div class="battleship-board">
    <div class="row" *ngFor="let row of carteAdversaire.grille; let i = index">
      <button
        class="cell"
        *ngFor="let cell of row; let j = index"
        [attr.data-row]="i"
        [attr.data-column]="j"
      ></button>
    </div>
  </div>


</div>
