:host {
  display: flex;
  align-content: center;
  align-items: center;
  margin: 25px;
  flex-direction: column;

  .title {
    font-family: Caveat, sans-serif;
    font-size: 4.5em;
    font-weight: 700;
    margin: 30px 0;
  }

  .welcome {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: x-large;
  }

  .card {
    margin-top: 50px;
    margin-left: 50px;
    border: none;
    display: flex;
    align-items: center;

    img {
      height: 64%;
      width: 68%;
      margin-left: 20px;
    }

    .card-text {
      font-family: "Dancing Script", sans-serif;
      font-size: x-large;
      margin-top: 0;
      line-height: 1.7;
      max-width: 400px;
      margin-left: 15px;
    }
  }

  /* Conteneur des grilles */
  .boards-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espace entre les grilles */
    margin-top: 20px;
  }

  /* Grilles de jeu */
  .battleship-board {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    gap: 2px; /* Espace entre les cellules */
    text-align: center;
    margin-top: 10px; /* Espace entre le pseudo et la grille */
  }

  .row {
    display: contents;
  }

  .cell {
    width: 30px;
    height: 30px;
    background-color: lightblue;
    border: 1px solid #000;
    margin: 1px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .cell:hover {
    background-color: darkgrey; /* Effet au survol */
  }

  /* Positionnement des labels en dehors des grilles */
  .player-name,
  .ordi-name {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #007bff; /* Couleur bleue */
    position: absolute; /* Utilisation de position absolute */
  }

  /* Positionnement du pseudo du joueur au-dessus de la grille de gauche */
  .player-name {
    top: 50%; /* Positionne au-dessus de la grille de gauche */
    left: 35.4%; /* Centre par rapport à la grille */
    transform: translateX(-50%); /* Correction du centrage */
  }

  /* Positionnement du pseudo de l'adversaire au-dessus de la grille de droite */
  .ordi-name {
    top: 50%; /* Positionne au-dessus de la grille de droite */
    right: 35.4%; /* Centre par rapport à la grille */
    transform: translateX(50%); /* Correction du centrage */
  }
}
