@use "theme";

nav {
  height: 80px;
  background: linear-gradient(to right, theme.$common-purple, theme.$common-red);

  .title {
    font-family: Caveat, sans-serif;
    font-size: 4em;
    font-weight: 700;
    color: white; /* Met le texte en blanc */
    margin: 0; /* Enlève les marges */
    text-align: center; /* Centre le texte */
    flex: 1; /* Permet de prendre de l'espace pour centrer le titre */
  }

  div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ajout pour espacer les éléments */

    img {
      margin-left: 20px;
      height: 60px;
      transition: 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

mat-nav-list {
  margin-right: 20px; /* Ajuste la marge à droite */
  display: flex;
  flex-direction: row;

  span,
  a {
    font-size: large;
    color: theme.$white;
    transition: 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }
}
